<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Send everything to index.php if it's not a real file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
